/* Root */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
section,
nav,
div {
  margin: 0;
  padding: 0;
}
.h1 {
  color: #fff;
  font-family: 'poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.col-h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #0016cc;
}
.p1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #b9b9b9;
}
.col-p1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #4e505f;
}
.p2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #cbcbcb;
}
/* Last Root */

/* Navbar */
.navbar {
  /* position: relative; */
  z-index: 12;
  background-color: rgb(1, 5, 38);
}
.navbar-brand img {
  width: 101px;
  height: 40px;
}
/* Last Navbar */

/* Jumbotron */
.jumbotron {
  z-index: 1;
  position: relative;
  height: 1000px;
  background-image: url(asset/img/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
  background-size: cover;
  border-radius: 0px 0px 50px 50px;
}
.jumbotron::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(2, 4, 22, 0.58) -38.8%, rgba(2, 4, 24, 0.99) 85.25%);
  border-radius: 0px 0px 50px 50px;
  bottom: 0;
}
.jumbotron .container {
  position: relative;
  z-index: 1;
  width: 65%;
  height: 255px;
  text-align: center;
  margin: auto;
  transform: translateY(250px);
}
.jumbotron a {
  text-decoration: none;
}
.jumbotron .button {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  width: 255px;
  height: 58px;
  background-color: #0016cc;
  border-radius: 5px;
  border: none;
}
.banner {
  position: relative;
  width: 100%;
  height: 511px;
  margin: auto;
  margin-top: 100px;
  background-image: url(asset/img/arif-riyanto-vJP-wZ6hGBg-unsplash.jpg);
  background-size: cover;
  background-color: rgba(1, 5, 38, 0.6);
  border: 8px solid #f3f3f3;
  box-sizing: border-box;
  box-shadow: 23px 60px 70px -26px rgba(1, 5, 38, 0.2);
  border-radius: 20px;
}
.banner::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: rgba(1, 5, 38, 0.6);
  bottom: 0;
}
/* Last Jumbotron */

/* section our service and project */
#background {
  position: relative;
  width: 100%;
  height: 4090px;
  top: -300px;
  background-image: url(asset/illustration/background.svg);
  background-position-y: 735px;
  background-size: 100%;
  background-repeat: no-repeat;
}
#background::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dbe3fb;
  bottom: 0;
}
.v-tablet-less {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 757.98px;
  align-items: center;
  justify-content: space-between;
}
.v-tablet-less img {
  width: 647.44px;
  height: 523.61px;
}
.ourQuality {
  transform: translateY(600px);
  width: 915px;
  height: 880.98px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#background .colom {
  width: 915px;
  height: 164.37px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
/* lastsection our service and project */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* .navbar {
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 4;
    background-color: rgba(1, 5, 38, 0.938);
  } */

  /* jumbotron */
  .jumbotron {
    height: 900px;
  }
  .jumbotron.container {
    width: 75%;
  }
  .banner {
    height: 307.01px;
  }
  /* last jumbotron */

  /* our service and project */
  .v-tablet-less {
    flex-direction: column;
  }
  #background .colom {
    width: 647.44px;
    flex-direction: row;
  }
  .col-lg {
    width: 0;
    max-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* .navbar {
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 4;
    background-color: rgba(1, 5, 38, 0.938);
  } */
  /* jumbotron */
  .jumbotron {
    height: 900px;
  }
  .jumbotron .container {
    width: 378px;
    transform: translateY(220px);
  }
  .banner {
    height: 202.88px;
    border: 6px solid #f3f3f3;
  }
  /* jumbotron */

  /* our service */
  .ourQuality {
    height: 650px;
  }
  .v-tablet-less {
    height: 567px;
  }
  .v-tablet-less img {
    width: 450;
    height: 326.17px;
  }
  #background .colom {
    width: 400px;
    flex-direction: row;
  }
}
